
/*.all-left-panel {*/
/*    width: auto !important;*/
/*}*/

.custom-button-divider {
    margin: 15px 0 15px 0;
}

#timer_running_msg {
    padding: 13px;
    display: block;
}

.visible {
    visibility: visible !important;
    display: flex;
}

.invisible {
    visibility: hidden !important;
    display: none;
}